*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Slabo 27px", serif;
  --ff-secondary: "Bree Serif", serif;

  --clr-light: #fff;
  --clr-dark: #2f2d2d;
  --clr-accent: #5c73f2;

  --fs-h1: 3rem;
  --fs-body: 1rem;
}

html,
body {
  height: 100%;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-size: var(--fs-body);
  margin: 0;
  font-family: var(--ff-primary);
  line-height: 1.6;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-dark);
}

label,
input {
  margin-bottom: 0.5em;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__subtitle {
  background: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-top: -2.5em;
}

.section__binary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__binary {
  margin-top: 1em;
  display: inline-block;
  border: none;
  background: var(--clr-light);
  color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.btn__binary:hover {
  transform: scale(1.1);
}

.section__decimal {
  margin-top: 2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-align: center;
  font-size: 0.8em;
  height: 2em;
}

.footer a {
  text-decoration: none;
  color: var(--clr-light);
}

.footer p {
  margin: 0 0.5em;
}

.footer a:hover {
  opacity: 0.8;
}

.fab {
  margin: 0 0.8em;
}

.fab:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-body: 1.125rem;
  }
}

@media (max-width: 330px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-body: 1rem;
  }
  .footer {
    font-size: var(--fs-body);
  }

  .section__binary {
    flex-direction: column;
  }
  .btn__binary {
    margin-top: 1em;
  }
}
